{% extends "base.html" %}
{% block title %}Todos as Postagens do Forum{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-3">
	<div class="row">
	    <div class="col-md-8">
	        <!-- {% include 'components/message.html' %} --> 
            {% for postagem, form in form_dict.items %} 
	        <div class="card p-3 mb-3 rounded-3 shadow-sm"> 
							<img class="card-img-top" src="{% if postagem.anexar_imagem %}{{ postagem.anexar_imagem.url }}{% else %}{% static 'images/default-image.jpg' %}{% endif %}" height="150" alt="{{ postagem.titulo }}">
	            <div class="card-body">
	                <div class="d-flex justify-content-between">
	                    <h5 class="card-title"><a href="{% url 'detalhe-postagem-forum' postagem.slug %}">{{postagem.titulo}}</a></h5>
	                    <small class="text-muted">{{postagem.usuario.first_name}} {{postagem.usuario.last_name}}</small> 
	                </div>  
	                <div class="text-truncate-box"> 
	                    <p class="text-truncate text-body-secondary">{{postagem.descricao|safe|truncatewords:30}}</p> 
	                </div>
	            </div>
	            <div class="d-flex justify-content-between align-items-center">
	                <div class="align-items-center">
	                    <small class="text-muted">{{postagem.data_publicacao}}</small>
	                </div>
	            </div>
	        </div> 
	        {% endfor %}
					{% include 'components/paginacao.html' %}
	    </div> 
		<div class="col-md-4">
			{% include 'components/sidebar.html' %} 
		</div>
	</div>
  
	{% for bloco in blocos %}
	{% include "components/cards.html" %} 
 	{% endfor %}

</div>
{% endblock %}